site_name: MarchBeta2087的星空
site_url: https://marchbeta2087.github.io/blogs/
docs_dir: docs
site_dir: site

theme:
  name: material
  language: zh
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
  - search

nav:
  - 首页: index.md
  - 关于我: about.md
  - 博客:
      - 博客列表: blogs/blog_list.md